body {
    background-color: #E7FBFB;
}
header {
    font-size: 4em;
    text-align: center;
    color: #010B5B;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
.tie { 
    margin: 0px;
    max-width: 100%;
    height: auto;
}
.allothers {
    margin: 5px;
    max-width: 100%;
    height: auto;
    float: left;
}

body 	{	margin:0px; padding:0px;}

div#header {width: 100%; background-color:#6A2A00; height:auto;}
div#contentArea {	width:auto; background-color:#624208; 	}
div#column1 {	width:100%; background-color:#624208; float: left;	}
div#column2 {	width:100%; background-color:#625908; float: left; word-wrap: break-word;	}
div#column3 {	width:100%; background-color:#C0560F; float: left;	}
div#footer {	width:100%; background-color:#423227;	}
div.clearfloats	{	clear: both;	} /* clears the floats so the footer will place correctly */

div#header	{text-align: center; font-style: italic; height: 2.5em; padding-top: .5em; font-size: 1.3em; }

#links	{ width: 100%;  margin-right: 10px;	padding: 10px;}
#links a {   display: block; font-family: sans-serif; color: white; font-size: 9pt; margin-top: 5px; padding: 8px;}
#links a:link	{text-decoration: none;	}
#links a:visited	{text-decoration: none;	}
#links a:active	{text-decoration: none;	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li {
    float:left;
    display: block;
    border-right: 1px solid #bbb;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: #423227;
  }
.active {
    background-color: #625908;
  }
div#column2 {	padding: .5em; font-size: .76em;	}
div#column3 {	padding: .5em; font-size: .76em;	}

div#footer	{text-align: center; font-style: italic; height: 4em; padding: .5em 0; font-size: .76em; word-wrap: break-word;	}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(128, 51, 0); /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */ /* Allow the user to vertically resize the textarea (not horizontally) */
  }  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #624208;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5f2600;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
    width: auto;
  }